<div class="row" style="height: 20px;"></div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">News</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Latest Updates</a>
          </h3>
          <!-- <div class="mb-1 text-muted">Nov 12</div> -->
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">This is the block for latest updates of the event.</p>
          <!-- <a href="#">Continue reading</a> -->
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../assets/img/sidebar-1.jpg" style="width: 200px; height: 250px;" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Event</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Registration</a>
          </h3>
          <!-- <div class="mb-1 text-muted">Nov 11</div> -->
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Link for the event registration</p>
          <!-- <a href="#">Continue reading</a> -->
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../assets/img/sidebar-2.jpg" style="width: 200px; height: 250px;" alt="Card image cap">
      </div>
    </div>
  </div>