<div class="row" style="height: 20px;"></div>
    <!-- <h3 class="pb-3 mb-4 font-italic border-bottom">
      </h3> -->
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="blog-post">
          <h2 class="blog-post-title">How to Get Your Brain to Focus</h2>
          <p class="blog-post-meta">By <a href="#">Chris Bailey</a> on April 5, 2019</p>
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <iframe [class.thumbnail]="thumbnail" [src]="video1" width="100%" height="350" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="blog-post">
          <h2 class="blog-post-title">Your brain will not be the same</h2>
          <p class="blog-post-meta">By <a href="#">Lara Boyd</a> on December 15, 2015</p>
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <iframe [class.thumbnail]="thumbnail" [src]="video2" width="100%" height="350" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
  </div>